html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.step-description {
  resize: none !important;
}

.nav-pills .nav-link.active {
  background-color: rgba(240,90,40, 0.2); /* Replace with your desired color */
  border-color: rgba(240,90,40, 0.2);
  color: black; /* Adjust text color as needed */
}

.btn-primary {
  background-color:rgba(240,90,40, 0.2);
  color:black;
  border-color: rgba(240,90,40, 0.2);
}

.btn-primary:hover {
  background-color: #f3bb7a; /* Substitua pela cor desejada */
  border-color: #f3bb7a; /* Ajusta a borda para combinar com o fundo */
  color: black;
}

.button-container {
  display: flex;
  gap: 10px; /* Ajusta o espaço entre os botões */
  align-items: center;
}

/* Estilo do Alerta */
.alert {
  background-color: rgba(240,90,40, 0.1); /* Fundo laranja suave para mensagens gerais */
  color: black; /* Texto em preto para boa legibilidade */
}

.alert-success {
  background-color: rgba(142,168,61, 0.1); /* Fundo verde claro para sucesso */
  border-color: #8ea83d;
}

.alert-danger {
  background-color: rgba(240,90,40, 0.1); /* Fundo laranja claro para erros */
  border-color: rgba(240,90,40, 0.2);
}

/* Borda arredondada e sombra leve */
.alert-dismissible {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.alert p {
  font-size: 1.1rem;
}

/* Container da tabela com bordas arredondadas e contorno cinza */
.table-container {
  border-radius: 8px; /* Bordas arredondadas */
  border: 1px solid #000000; /* Contorno cinza */
  overflow: hidden; /* Garante o arredondamento nas bordas */
}

/* Remover margem inferior da tabela para manter o arredondamento do container */
.table {
  margin-bottom: 0;
}

.btn-danger {
  color: black !important; /* Texto preto em todos os botões danger */
}

.btn {
  transition: all 0.2s ease-in-out; /* Aplica a transição a qualquer mudança no botão */
}

.image-container {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  padding: 0 1rem;
  border-radius: 12px 12px 0 0; /* top-left, top-right, bottom-right, bottom-left */
}
.image-container:hover .overlay {
  opacity: 1;
}
.overlay-text {
  font-size: 0.9rem;
}
h6.fw-bold {
  font-weight: bold;
}

.custom-close-button {
  background-color: #dc3545; /* Cor vermelha do Bootstrap para danger */
  transition: background-color 0.3s ease; /* Suaviza a transição de cor */
}

.custom-close-button:hover {
  background-color: #c82333; /* Um tom mais escuro de vermelho ao passar o mouse */
}

.rating {
  font-size: 2em;
  color: #FFD700;
}

.star {
  cursor: pointer;
}

.star:hover,
.star:hover ~ .star {
  color: #FFA500;
}